.about {
  padding: 10rem 0;
  position: relative;
  @include mobile {
    padding: 7.5rem 0;
  }
  &::after {
    content: "";
    background-image: url("./../img/blur-sphere-all.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: -1;
    left: 50%;
    top: 70%;
    transform: translateY(-50%);
    width: 240rem;
    aspect-ratio: 1 / 1;
    pointer-events: none;

    @include mobile {
      left: unset;
      right: -4%;
      top: 100%;
    }
  }

  &__video {
    @include mobile {
      display: block;
      mask-image: url("./../img/video-mask-mob.svg");
      mask-size: cover;
      mask-position: bottom;
    }

    &_mob {
      display: none;
      @include mobile {
        display: block;
        mask-image: url("./../img/video-mask-mob.svg");
        mask-size: cover;
        mask-position: bottom;
      }
    }
  }
}
