.care {
  padding: 10rem 0;
  @include mobile {
    padding: 7.5rem 0;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__content {
    grid-column: 2 span;

    display: flex;
    align-items: center;
    padding: 6rem;
    background-color: var(--it-white);
    border-radius: 2rem;
    color: var(--it-black);
    overflow: hidden;
    ul,
    ol {
      li {
        &:not(:last-child) {
          margin-bottom: 5rem;

          @include mobile {
            margin-bottom: 2rem;
          }
        }
      }
    }

    @include mobile {
      padding: 5rem 4rem;
      grid-column: 1 span;
    }
  }

  &__img {
    grid-column: 4 span;
    position: relative;
    mask-image: url("./../img/care-mask.svg");
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    @include mobile {
      grid-column: 1 span;
      order: -1;
      mask-image: url("./../img/care-mask-mob.svg");
      aspect-ratio: unset;
      height: 32.8rem;
    }
  }
}
