.course {
  &__caption {
    margin: 0;
    font-size: 1.4rem;
    line-height: 120%;
  }

  &__value {
    margin: 0;

    font-size: 2.2rem;
    line-height: 120%;
    color: var(--it-black);
  }

  &__btn {
    color: var(--it-black);

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    flex-shrink: 0;
    width: 2.3rem;
    aspect-ratio: 1 / 1;
    svg {
      fill: currentColor;
      width: 100%;
      height: 100%;
    }
    @include hover {
      color: var(--it-pink);
    }

    &:focus-visible {
      outline: none;
      color: var(--it-pink);
    }

    &:active {
      color: var(--it-pink);
    }
  }
}
