.footer {
  margin: 10rem 0 6rem;
  @include mobile {
    margin: 7.5rem 0 3rem;
  }
  &__container {
    --row-gap: 3rem;
    padding: 5rem 4rem;
    background-image: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.2) 48.04%,
      rgba(255, 255, 255, 0.2) 59.03%,
      rgba(255, 255, 255, 0.01) 100%
    );
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    border: 2px solid rgba(#fff, 0.2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    @include mobile {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__socials {
    justify-content: flex-end;

    @include mobile {
      display: none;
    }

    &_mob {
      display: none;
      @include mobile {
        display: flex;
      }
    }
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
  }

  &__group {
    @include mobile {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      align-items: flex-start;
    }
  }

  &__right {
    align-items: flex-end;

    @include mobile {
      align-items: flex-start;
    }
  }

  &__link {
    margin: 0;
    font-weight: 300;
    font-size: 2.2rem;

    a {
      color: inherit;
    }
  }

  &__policy {
    a {
      text-decoration: underline;
      color: inherit;
    }
  }
}
