// ваш код
.header {
  @include mobile {
    pointer-events: all;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 2rem var(--container-offset);

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: transform 0.3s ease-in-out;
    transform: translateY(0);

    &.header--hidden {
      transform: translateY(-100%);
    }

    &.header--visible {
      transform: translateY(0);
      backdrop-filter: blur(4px);
      background-color: rgba(#000, 0.2);
    }
  }
  &__burger {
    display: none;

    @include mobile {
      display: block;
    }
  }
}

.burger {
  @include burger;
}
