// ваш код
.header {
  @include mobile {
    pointer-events: all;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding: 2rem var(--container-offset);

    transition: transform 0.3s ease-in-out;
    transform: translateY(0);

    &.header--hidden {
      transform: translateY(-100%);
    }

    &.header--visible {
      transform: translateY(0);
      border-radius: 0 0 1rem 1rem;
      background-color: rgba(#000, 1);
    }
  }
  &__container {
    @include mobile {
      position: relative;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__burger {
    display: none;

    @include mobile {
      display: block;
    }
  }
}
