.star {
  position: absolute;
  bottom: 0;
  left: -30rem;

  width: 62.8rem;
  aspect-ratio: 1 / 1;

  pointer-events: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.big-cube {
  position: absolute;
  right: -30rem;
  bottom: -40rem;
  width: 105rem;
  aspect-ratio: 1 / 1;

  pointer-events: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include mobile {
    width: 70rem;
    right: -20rem;
    bottom: -30rem;
  }
}

.long {
  position: absolute;
  left: -30rem;
  top: -4rem;
  width: 57rem;
  aspect-ratio: 1 / 1;

  pointer-events: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cube {
  position: absolute;
  width: 41.4rem;
  aspect-ratio: 1 / 1;
  right: -15rem;
  top: 40rem;
  pointer-events: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.arc {
  position: absolute;
  width: 72.4rem;
  aspect-ratio: 1 / 1;
  right: -40rem;
  top: 45rem;
  pointer-events: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.rellax {
  transition-property: transform;
  transition-timing-function: ease-out;
  transition-duration: 1s;

  img {
    animation-name: sway-img;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes sway-img {
  0% {
    transform: translateX(-8px) translateY(-12px);
  }
  100% {
    transform: translateX(8px) translateY(12px);
  }
}
