.steps {
  padding: 10rem 0;
  position: relative;
  z-index: 2;
  @include mobile {
    padding: 7.5rem 0;
  }
  &::after {
    content: "";
    background-image: url("./../img/blur-sphere-all.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    z-index: -1;
    left: 50%;
    top: 70%;
    transform: translateY(-50%);
    width: 240rem;
    aspect-ratio: 1 / 1;
    pointer-events: none;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    counter-reset: steps;

    @include mobile {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__item {
    counter-increment: steps;
    background-image: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.01) 0%,
        rgba(255, 255, 255, 0.25) 48.04%,
        rgba(255, 255, 255, 0.25) 59.03%,
        rgba(255, 255, 255, 0.01) 100%
      ),
      url("./../img/svg/steps-border.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

    mask-image: url("./../img/svg/steps-mask.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100% 100%;

    aspect-ratio: 580 / 339;

    backdrop-filter: blur(1.5rem);
    padding: 5rem;
    padding-right: 9rem;
    @include mobile {
      aspect-ratio: unset;
      padding: 5rem 4rem;
      height: 28rem;
      background-image: linear-gradient(
          145deg,
          rgba(255, 255, 255, 0.01) 0%,
          rgba(255, 255, 255, 0.25) 48.04%,
          rgba(255, 255, 255, 0.25) 59.03%,
          rgba(255, 255, 255, 0.01) 100%
        ),
        url("./../img/svg/steps-border-mob.svg");
      mask-image: url("./../img/svg/steps-mask-mob.svg");
    }
    &::before {
      content: counter(steps);
      display: block;
      margin-bottom: 1.5rem;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 150%;
      color: var(--it-pink);

      @include mobile {
        position: absolute;
        right: 4rem;
        top: 5rem;
        line-height: 1;
        margin: 0;
      }
    }
  }

  &__item-title {
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 120%;

    @include mobile {
      padding-right: 4rem;
    }
  }
  &__item-desc {
    font-weight: 300;

    @include mobile {
      padding-right: 1rem;
    }
  }
}
