.logo {
  width: 18.2rem;
  height: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 100;
  img,
  svg {
    display: block;
    width: 100%;
    height: 3.1rem;
    object-fit: contain;
  }

  svg {
    fill: var(--it-white);
  }

  // Эффект блика
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      45deg,
      transparent 0%,
      transparent 40%,
      rgba(255, 255, 255, 0.3) 50%,
      rgba(255, 255, 255, 0.5) 51%,
      rgba(255, 255, 255, 0.3) 52%,
      transparent 60%,
      transparent 100%
    );
    transform: skewX(-15deg);
    transition: left 0.6s ease-in-out;
    pointer-events: none;
    z-index: 1;
  }

  @include hover {
    &::before {
      left: 100%;
    }
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 140%;
  padding: 2rem;
  background-color: var(--it-pink);
  color: var(--it-white);
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  @include hover {
    background-color: var(--it-pink-hover);
    color: var(--it-white);
  }

  &:focus-visible {
    outline: none;
    background-color: var(--it-pink-hover);
    color: var(--it-white);
  }

  &:active {
    background-color: var(--it-pink);
    color: var(--it-white);
  }

  &_dark {
    background-color: var(--it-black);
  }
  &_light {
    background-color: var(--it-white);
    color: var(--it-black);
  }
  &:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed;
    color: rgba(0, 0, 0, 0.25);
  }
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 5rem;
  line-height: 110%;
  color: var(--it-white);

  &:not(:last-child) {
    margin-bottom: 5rem;
  }
  &:not(:first-child) {
    margin-top: 2rem;
  }

  @include mobile {
    font-size: 4.4rem;
  }
}

[data-video] {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  video {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    max-height: 70rem;
    object-fit: cover;

    @include mobile {
      aspect-ratio: 9 / 16;
      max-height: unset;
    }
  }
}
[data-video-play] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 15.7rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;

  background-color: var(--it-white);
  padding-left: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  svg {
    width: 50%;
    height: 50%;
    fill: var(--it-black);

    transition-property: fill;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  @include hover {
    transform: translate(-50%, -50%) scale(1.05);

    svg {
      fill: var(--it-pink);
    }
  }
}

.desc {
  margin: 0;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 140%;
}

ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 140%;

  li {
    position: relative;
    padding-left: 1.8rem;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 1rem;
      width: 0.8rem;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
      border-radius: 1rem;

      background-color: var(--it-pink);
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem 3rem;
  flex-wrap: wrap;
  li::before {
    display: none;
  }
  li {
    padding: 0;
    width: 2.1rem;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;

      background-color: var(--it-white);
      transition-property: background-color;
      transition-duration: 0.3s;
      transition-timing-function: ease;

      @include hover {
        background-color: var(--it-pink-hover);
      }
      &:focus-visible {
        outline: none;
        background-color: var(--it-pink-hover);
      }
      &:active {
        background-color: var(--it-pink);
      }
    }
  }
}

.link-btn {
  display: inline-block;
  transition-duration: 0.3s;
  transition-property: color;
  transition-timing-function: ease;

  @include hover {
    color: var(--it-pink);
  }
  &:focus-visible {
    outline: none;
    color: var(--it-pink);
  }
  &:active {
    color: var(--it-pink);
  }
}

.hint {
  cursor: help;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 2.1rem;
  aspect-ratio: 1 / 1;

  border-radius: 100rem;
  background-color: #e6e6e6;
  padding: 0.5rem;

  position: relative;
  @include mobile {
    width: 3.2rem;
  }
  &::after {
    content: "i";

    font-family: var(--third-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    color: var(--it-black);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @include mobile {
      font-size: 2.2rem;
      font-weight: 600;
    }
  }

  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  @include hover {
    &::after {
      color: var(--it-white);
    }
    background-color: var(--it-pink-hover);
  }

  &:focus-visible {
    &::after {
      color: var(--it-white);
    }
    outline: none;
    background-color: var(--it-pink-hover);
  }

  &:active {
    &::after {
      color: var(--it-white);
    }
    background-color: var(--it-pink);
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.tippy-box[data-theme~="tooltip"] {
  padding: 4rem;
  border-radius: 2rem;
  background-color: var(--it-white);
  border: 1px solid #e6e6e6;
  color: var(--it-black);
  font-size: 1.6rem;
}
// .tippy-box[data-theme~="tooltip"][data-placement^="top"]
//   > .tippy-arrow::before {
//   border-top-color: var(--it-white);
// }
// .tippy-box[data-theme~="tooltip"][data-placement^="bottom"]
//   > .tippy-arrow::before {
//   border-bottom-color: var(--it-white);
// }
// .tippy-box[data-theme~="tooltip"][data-placement^="left"]
//   > .tippy-arrow::before {
//   border-left-color: var(--it-white);
// }
// .tippy-box[data-theme~="tooltip"][data-placement^="right"]
//   > .tippy-arrow::before {
//   border-right-color: var(--it-white);
// }

.just-validate-error-label {
  display: none;
}

.swiper .swiper-slide {
  width: auto;
  height: auto;
}

.burger {
  @include burger;
  position: relative;
  z-index: 100;
}

@import "modal";
