:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --it-white: #fff;
  --30-black: #f7f7f7;
  --it-black: #000512;
  --it-pink: #ff2ccd;
  --it-pink-hover: #ff56d7;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 0.5208333333vw;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--it-black);
  color: var(--it-white);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.logo {
  width: 18.2rem;
  height: auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.logo img, .logo svg {
  display: block;
  width: 100%;
  height: 3.1rem;
  -o-object-fit: contain;
  object-fit: contain;
}
.logo svg {
  fill: var(--it-white);
}
.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, transparent 0%, transparent 40%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.5) 51%, rgba(255, 255, 255, 0.3) 52%, transparent 60%, transparent 100%);
  -webkit-transform: skewX(-15deg);
  -ms-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -webkit-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
  pointer-events: none;
  z-index: 1;
}
@media (any-hover: hover) {
  .logo:hover::before {
    left: 100%;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 140%;
  padding: 2rem;
  background-color: var(--it-pink);
  color: var(--it-white);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--it-pink-hover);
  }
}
.btn:focus-visible {
  outline: none;
  background-color: var(--it-pink-hover);
}
.btn:active {
  background-color: var(--it-pink);
}
.btn_dark {
  background-color: var(--it-black);
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 13rem 7.5rem;
}
.hero::after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 240rem;
  background-image: url("./../img/blur-sphere.svg"), url("./../img/grid.svg");
  background-size: contain, auto 100%;
  background-repeat: no-repeat;
  background-position: right;
}
.hero__logo {
  margin-bottom: 9.5rem;
}
.hero__content {
  position: relative;
  z-index: 5;
  max-width: 75rem;
}
.hero__title {
  margin: 0;
  margin-bottom: 6rem;
  font-weight: 700;
  font-size: 7rem;
  line-height: 110%;
}
.hero__desc {
  margin: 0;
  margin-bottom: 6rem;
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 140%;
}
.hero__desc span {
  display: block;
  color: var(--it-pink);
}
.hero__btn {
  width: 100%;
  max-width: 51.6rem;
}

#scene {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=main.css.map */
