<section class="benefits">
  <div class="container">
    <h2 class="benefits__title">
      Преимущества
    </h2>
    <div class="benefits__container">
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/01.svg" alt="">
        </div>
        <div class="benefits__text">
          <p>
            До 30% годовых
            в&nbsp;биткоине
          </p>
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/02.svg" alt="">
        </div>
        <div class="benefits__text">
          <p>
            Не&nbsp;требует знаний
            и&nbsp;опыта в&nbsp;сфере
            криптовалюты
          </p>
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/03.svg" alt="">
        </div>
        <div class="benefits__text">
          <p>
            Рост актива
            с&nbsp;ростом биткоина
          </p>
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/04.svg" alt="">
        </div>
        <div class="benefits__text">
          <p>
            Простой
            вывод&nbsp;средств
          </p>
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/05.svg" alt="">
        </div>
        <div class="benefits__text">
          <p>
            Доход идёт&nbsp;24/7
            без&nbsp;вашего участия
          </p>
        </div>
      </div>
      <div class="benefits__item">
        <div class="benefits__icon">
          <img src="./img/benefits/06.svg" alt="">
        </div>
        <div class="benefits__text">
          <p>
            Доступ к&nbsp;майнингу
            без&nbsp;покупки
            оборудования
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
