<div class="calculator">
  <div class="calculator__container">
    <div class="calculator__content">
      <h2 class="calculator__title">Посчитайте вашу выгоду</h2>

      <form action="#" class="calculator__form">
        <div class="calculator__row">
          <div class="calculator__item">
            <div class="calculator__field">
              <div class="calculator__inwrapper">
                <input type="number" id="loanAmountInput" class="calculator__input" />
                <label for="loanAmountInput" class="calculator__label">Сумма</label>
                <div class="range" id="loanAmountSlider"></div>
              </div>
            </div>
          </div>
          <div class="calculator__item">
            <div class="calculator__currency currency">
              <div class="currency__item">
                <input type="radio" id="ruble" name="currency" value="ruble" class="visually-hidden">
                <label for="ruble">₽</label>
              </div>
              <div class="currency__item">
                <input type="radio" id="dollar" name="currency" value="dollar" class="visually-hidden" checked>
                <label for="dollar">$</label>
              </div>
              <div class="currency__item">
                <input type="radio" id="euro" name="currency" value="euro" class="visually-hidden">
                <label for="euro">€</label>
              </div>
            </div>
          </div>
        </div>

        <div class="calculator__row">
          <div class="calculator__item">
            <div class="calculator__field">
              <div class="calculator__inwrapper" data-after="TH">
                <input type="number" id="loanPowerInput" min="8" max="3760" step="1" class="calculator__input" />
                <label for="loanPowerInput" class="calculator__label">Мощность</label>
                <div class="range" id="loanPowerSlider"></div>
              </div>
            </div>
          </div>
          <div class="calculator__item">
            <div class="calculator__info">
              <div>
                <span>25 $</span> за 1 TH
              </div>

              <div class="calculator__hint hint" data-text="Перечень стоимости за 1 TH"></div>
            </div>
          </div>
        </div>

        <div class="calculator__row">
          <div class="calculator__item">
            <div class="calculator__field">
              <div class="calculator__inwrapper" data-after="BTC">
                <input type="number" id="loanCourseInput" step="0.000000001" class="calculator__input" />
                <label for="loanCourseInput" class="calculator__label">Курс биткоина</label>
                <div class="range" id="loanCourseSlider"></div>
              </div>
            </div>
          </div>
          <div class="calculator__item">
            <div class="calculator__info course">

              <div class="course__content">
                <p class="course__caption">Текущий курс</p>
                <p class="course__value">0.2134123532</p>
              </div>

              <div class="btn-reset course__btn">
                Сброс
              </div>
            </div>
          </div>
        </div>

        <div class="calculator__summary">
          <p class="calculator__summary-title">Приблизительная доходность</p>
          <p class="calculator__summary-profit">0.000234521 BTC</p>
          <div class="calculator__summary-row">
            <div>
              <div class="calculator__summary-cost">
                2500 $
              </div>
              <div class="calculator__summary-annually">
                30% годовых
              </div>
            </div>
            <div class="calculator__summary-tabs tabs">
              <label>
                <input type="radio" name="доходность" class="visually-hidden">
                <span>за день</span>
              </label>
              <label>
                <input type="radio" name="доходность" class="visually-hidden">
                <span>за неделю</span>
              </label>
              <label>
                <input type="radio" name="доходность" class="visually-hidden">
                <span>за месяц</span>
              </label>
            </div>
          </div>
        </div>

        <button class="btn-reset calculator__btn btn">
          Купить
        </button>
      </form>
    </div>

    <div class="calculator__patterns">
      <div class="pattern calculator__pattern" data-power="188">
        <div class="pattern__header">
          <p class="pattern__title">Пакет 01</p>
          <div class="pattern__annual"><span data-field="annual">-</span> годовых</div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Приблизительная доходность в день</div>
            <div class="pattern__item-value" data-field="profit">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Мощность</div>
            <div class="pattern__item-value" data-field="power">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Стоимость</div>
            <div class="pattern__item-value" data-field="cost">-</div>
          </div>
          <div class="pattern__item">
            <div class="pattern__item-capture">за 1TH</div>
            <div class="pattern__item-value" data-field="price">-</div>
          </div>
        </div>

        <div class="pattern__img">
          <picture>
            <source srcset="./img/cards/01-mob.webp" media="(max-width: 576px)" type="image/webp">
            <source srcset="./img/cards/01-mob.webp" media="(max-width: 576px)" type="image/jpg">
            <source srcset="./img/cards/01.webp" type="image/webp">
            <img loading="lazy" src="./img/cards/01.png" class="image" width="513" height="513" aria-hidden="true"
              alt="">
          </picture>
        </div>
      </div>

      <div class="pattern calculator__pattern" data-power="563">
        <div class="pattern__header">
          <p class="pattern__title">Пакет 02</p>
          <div class="pattern__annual"><span data-field="annual">-</span> годовых</div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Приблизительная доходность в день</div>
            <div class="pattern__item-value" data-field="profit">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Мощность</div>
            <div class="pattern__item-value" data-field="power">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Стоимость</div>
            <div class="pattern__item-value" data-field="cost">-</div>
          </div>
          <div class="pattern__item">
            <div class="pattern__item-capture">за 1TH</div>
            <div class="pattern__item-value" data-field="price">-</div>
          </div>
        </div>
        <div class="pattern__img">
          <picture>
            <source srcset="./img/cards/02-mob.webp" media="(max-width: 576px)" type="image/webp">
            <source srcset="./img/cards/02-mob.webp" media="(max-width: 576px)" type="image/jpg">
            <source srcset="./img/cards/02.webp" type="image/webp">
            <img loading="lazy" src="./img/cards/02.png" class="image" width="513" height="513" aria-hidden="true"
              alt="">
          </picture>
        </div>
      </div>

      <div class="pattern calculator__pattern" data-power="1127">
        <div class="pattern__header">
          <p class="pattern__title">Пакет 03</p>
          <div class="pattern__annual"><span data-field="annual">-</span> годовых</div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Приблизительная доходность в день</div>
            <div class="pattern__item-value" data-field="profit">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Мощность</div>
            <div class="pattern__item-value" data-field="power">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Стоимость</div>
            <div class="pattern__item-value" data-field="cost">-</div>
          </div>
          <div class="pattern__item">
            <div class="pattern__item-capture">за 1TH</div>
            <div class="pattern__item-value" data-field="price">-</div>
          </div>
        </div>

        <div class="pattern__img">
          <picture>
            <source srcset="./img/cards/03-mob.webp" media="(max-width: 576px)" type="image/webp">
            <source srcset="./img/cards/03-mob.webp" media="(max-width: 576px)" type="image/jpg">
            <source srcset="./img/cards/03.webp" type="image/webp">
            <img loading="lazy" src="./img/cards/03.png" class="image" width="513" height="513" aria-hidden="true"
              alt="">
          </picture>
        </div>
      </div>
      <div class="pattern calculator__pattern" data-power="1879">
        <div class="pattern__header">
          <p class="pattern__title">Пакет 04</p>
          <div class="pattern__annual"><span data-field="annual">-</span> годовых</div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Приблизительная доходность в день</div>
            <div class="pattern__item-value" data-field="profit">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Мощность</div>
            <div class="pattern__item-value" data-field="power">-</div>
          </div>
        </div>
        <div class="pattern__row">
          <div class="pattern__item">
            <div class="pattern__item-capture">Стоимость</div>
            <div class="pattern__item-value" data-field="cost">-</div>
          </div>
          <div class="pattern__item">
            <div class="pattern__item-capture">за 1TH</div>
            <div class="pattern__item-value" data-field="price">-</div>
          </div>
        </div>

        <div class="pattern__img">
          <picture>
            <source srcset="./img/cards/04-mob.webp" media="(max-width: 576px)" type="image/webp">
            <source srcset="./img/cards/04-mob.webp" media="(max-width: 576px)" type="image/jpg">
            <source srcset="./img/cards/04.webp" type="image/webp">
            <img loading="lazy" src="./img/cards/04.png" class="image" width="513" height="513" aria-hidden="true"
              alt="">
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
