<section class="clients horScroll">
  <div class="container">
    <h2 class="clients__title">
      Для кого это
    </h2>
  </div>
  <div class="clients__wrapper">
    <div class="clients__container horScroll-container">
      <div class="clients__item">
        <div class="clients__item-top">
          <h5 class="clients__item-title">
            Классический майнинг
            — это дорого и сложно
          </h5>
          <p class="desc clients__item-desc">
            Оборудование стоит тысячи долларов, требует обслуживания
            и постоянного контроля,
            а&nbsp;также знаний и опыта
          </p>
        </div>
        <div class="clients__item-bottom">
          <h5 class="clients__item-title">
            С&nbsp;нами это не проблема
          </h5>
          <p class="desc clients__item-desc">
            Вся техника и обслуживание
            на нас. Вы получаете доход
            без головной боли
          </p>
        </div>
      </div>

      <div class="clients__item">
        <div class="clients__item-top">
          <h5 class="clients__item-title">
            Вход в крипту кажется
            слишком запутанным
          </h5>
          <p class="desc clients__item-desc">
            Биржи, кошельки, комиссии — всё это отпугивает новичков
          </p>
        </div>
        <div class="clients__item-bottom">
          <h5 class="clients__item-title">
            С нами всё просто
          </h5>
          <p class="desc clients__item-desc">
            Регистрация занимает пару минут, менеджер помогает на каждом шаге, доход начинает поступать сразу
          </p>
        </div>
      </div>

      <div class="clients__item">
        <div class="clients__item-top">
          <h5 class="clients__item-title">
            Высокие счета за электричество и налоги
          </h5>
          <p class="desc clients__item-desc">
            Домашний майнинг редко окупается — большую часть “съедает” электроэнергия и налоги
          </p>
        </div>
        <div class="clients__item-bottom">
          <h5 class="clients__item-title">
            С нами выгодно
          </h5>
          <p class="desc clients__item-desc">
            Минимальные расходы
            за счёт промышленной себестоимости
            и легальной локации
          </p>
        </div>
      </div>

      <div class="clients__item">
        <div class="clients__item-top">
          <h5 class="clients__item-title">
            Риск поломок
            и краж оборудования
          </h5>
          <p class="desc clients__item-desc">
            Оборудование ломается,
            требует контроля
            и обслуживания
          </p>
        </div>
        <div class="clients__item-bottom">
          <h5 class="clients__item-title">
            С нами надёжно
          </h5>
          <p class="desc clients__item-desc">
            Оборудование размещено
            в проверенных охраняемых дата-центрах с прочной репутацией
            и компенсацией простоев
          </p>
        </div>
      </div>

      <div class="clients__item">
        <div class="clients__item-top">
          <h5 class="clients__item-title">
            Сложно вывести деньги
          </h5>
          <p class="desc clients__item-desc">
            Даже если удалось намайнить,
            обмен и вывод превращаются
            в квест с комиссиями,
            блокировками и ограничениями
          </p>
        </div>
        <div class="clients__item-bottom">
          <h5 class="clients__item-title">
            С нами удобно
          </h5>
          <p class="desc clients__item-desc">
            Получайте прибыль в BTC,
            конвертируйте в  USDT
            быстро и без скрытых
            комиссий
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
