<section class="different">
  <div class="different__video">
    <video muted playsinline>
      <source src="./different.webm" type="video/webm">
      <source src="./different.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container">
    <h2 class="different__title">В чем отличие от обычного майнинга</h2>
    <p class="different__subtitle">Почему выгоднее вложиться, а не просто купить биткоин на бирже</p>

    <div class="different__status status">
      <div class="status__row">
        <div class="status__col">
          <p class="status__capture">Стоимость биткоина здесь </p>
          <div class="status__price status__price_our"><span>111 890</span> $ </div>
          <p class="status__diff">на 20%  дешевле</p>
        </div>
        <div class="status__col status__col_everywhere">
          <p class="status__capture">Стоимость биткоина здесь </p>
          <div class="status__price status__price_everywhere"><span>134 268</span> $ </div>
        </div>
      </div>
      <button class="btn-reset btn btn_dark status__btn">Оформить заявку</button>
    </div>
  </div>
</section>
