<section class="give">
  <div class="container">
    <h2 class="give__title">Что это даёт вам</h2>
    <div class="give__container">
      <div class="give__img">
        <picture>
          <source srcset="./img/give.webp" type="image/webp">
          <img loading="lazy" src="./img/give.jpg" class="image" width="1120" height="609" alt="">
        </picture>
      </div>

      <div class="give__content">
        <ul class="give__list">
          <li class="give__item">
            <div class="give__item-icon">
              <img src="./img/give/01.svg" aria-hidden="true" alt="">
            </div>
            <div class="give__item-text">
              <p>
                Стабильный доход<br>
                &mdash;&nbsp;даже при технических сбоях
              </p>
            </div>
          </li>
          <li class="give__item">
            <div class="give__item-icon">
              <img src="./img/give/02.svg" aria-hidden="true" alt="">
            </div>
            <div class="give__item-text">
              <p>
                Автоматическое переключение
                на&nbsp;резервные мощности
                без вашего участия
              </p>
            </div>
          </li>
          <li class="give__item">
            <div class="give__item-icon">
              <img src="./img/give/03.svg" aria-hidden="true" alt="">
            </div>
            <div class="give__item-text">
              <p>
                Защита от&nbsp;рисков, связанных
                с&nbsp;обслуживанием и&nbsp;аптаймом
                оборудования
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
