<section class="hero">
  @include('./scene.html')
  <div class="hero__decor">
    <div class="hero__element hero__element_square">
      <img src="./img/decor/square.webp" alt="">
    </div>
    <div class="hero__element hero__element_square-second">
      <img src="./img/decor/square.webp" alt="">
    </div>
    <div class="hero__element hero__element_square-third">
      <img src="./img/decor/square.webp" alt="">
    </div>
    <div class="hero__element hero__element_diamond">
      <img src="./img/decor/diamond.webp" alt="">
    </div>
    <div class="hero__element hero__element_tubus">
      <img src="./img/decor/tubus.webp" alt="">
    </div>
  </div>
  <div class="container">
    <div class="hero__content">
      <a href="./" class="logo hero__logo">
        <svg class="" width="182" height="31">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>

      <h1 class="hero__title">
        Получайте пассивный доход<br>
        от добычи биткоина
      </h1>

      <p class="hero__desc">
        Ты инвестируешь разово
        <span>Мы добываем биткоин постоянно</span>
      </p>

      <button class="btn btn-reset hero__btn">
        Оформить заявку
      </button>
    </div>
  </div>
</section>
