<section class="hero">
  @include('./scene.html')

  <div class="container">
    <div class="hero__content">
      <a href="./" class="logo hero__logo">
        <svg class="" width="182" height="31">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a>

      <h1 class="hero__title">
        Получайте пассивный доход<br>
        от добычи биткоина
      </h1>

      <p class="hero__desc">
        Ты инвестируешь разово
        <span>Мы добываем биткоин постоянно</span>
      </p>

      <button class="btn btn-reset hero__btn">
        Оформить заявку
      </button>
    </div>
  </div>
</section>
