<section class="hero">
  @include('./scene.html')
  <div class="hero__decor rellax" data-rellax-speed="5">
    <div class="hero__element hero__element_square">
      <img src="./img/decor/square.webp" alt="">
    </div>
    <div class="hero__element hero__element_square-second">
      <img src="./img/decor/square.webp" alt="">
    </div>
    <div class="hero__element hero__element_square-third">
      <img src="./img/decor/square.webp" alt="">
    </div>
    <div class="hero__element hero__element_diamond">
      <img src="./img/decor/diamond.webp" alt="">
    </div>
    <div class="hero__element hero__element_tubus">
      <img src="./img/decor/tubus.webp" alt="">
    </div>
  </div>
  <div class="container">
    @include('./header.html')
    <div class="hero__content">

      <h1 class="hero__title">
        Получайте пассивный доход<br>
        от добычи биткоина
      </h1>

      <p class="hero__desc">
        Ты инвестируешь разово
        <span>Мы добываем биткоин постоянно</span>
      </p>

      <button class="btn btn-reset hero__btn" data-target="#modal">
        Оформить заявку
      </button>
    </div>
  </div>
</section>
