<section class="master">
  <div class="container">
    <h2 class="master__title">Вывод на карту MasterCard</h2>
    <p class="master__desc desc">
      Получайте доход в криптовалюте &mdash;&nbsp;и&nbsp;тратьте&nbsp;его, как обычные деньги!
    </p>

    <div class="master__container">
      <div class="master__content">
        <ul>
          <li>Карту доставят курьером прямо в руки</li>
          <li>Мгновенная конвертация криптовалюты при оплате</li>
          <li>Удобное мобильное приложение для контроля баланса</li>
          <li>Добытые BTC автоматически зачисляются на карту</li>
          <li>Оплата покупок и услуг по всему миру</li>
        </ul>
        <p class="master__extra">
          При покупке мощности от 200 TRX &mdash;&nbsp;карта MasterCard в подарок
        </p>
      </div>
      <div class="master__card">
        <img src="./img/mastercard.svg" width="793" height="500" alt="">
      </div>
    </div>
  </div>
</section>