<nav class="menu" data-menu>
  <div class="menu__overlay" data-menu-overlay></div>

  <div class="menu__content">

    <ul class="list-reset menu__list">
      <li class="menu__item">
        <a href="#" class="menu__link" data-menu-item>Главная</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link" data-menu-item>Калькулятор</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link" data-menu-item>Мой профиль</a>
      </li>
    </ul>
  </div>
</nav>