<div class="p-main">
  <div class="p-main__container">
    <div class="p-main__content">
      <div class="p-main__mine profile-block">
        <p class="p-main__capture">
          Добыто
        </p>

        <div class="p-main__row">
          <div class="p-main__value">
            0.000234521 BTC
          </div>
          <div class="p-main__hint hint">
            <!-- <p>Начисления происходят
              каждый день
            </p>

            <p>
              Как только сумма начислений достигнет
              лимита выплаты, биткоин отправляется
              вам на кошелёк
            </p> -->
          </div>
        </div>

        <div class="p-main__bottom">
          <div class="p-main__items">
            <div class="p-main__item">
              <p class="p-main__item-capture">минимальная выплата</p>
              <div class="p-main__item-value">
                0.001 BTC
              </div>
            </div>
            <div class="p-main__item">
              <p class="p-main__item-capture">до вывода</p>
              <div class="p-main__item-value">
                0.000456 BTC
              </div>
            </div>
          </div>

          <div class="p-main__buttons">
            <a href="#" class="p-main__widthdraw p-main__btn btn btn-reset">
              Вывести
            </a>
            <a href="#" class="p-main__history p-main__btn btn btn_dark btn-reset" data-history-open>
              История
            </a>
          </div>
        </div>

      </div>
      <div class="p-main__has profile-block">
        <div class="p-main__row p-main__row_center p-main__row_jcsb">
          <p class="p-main__capture">Количество мощностей</p>

          <a href="#" class="p-main__btn btn btn-reset">
            Докупить
          </a>
        </div>

        <div class="p-main__inwallet">
          0 TH
        </div>
        <a href="#" class="p-main__btn p-main__btn_mob btn btn-reset">
          Докупить
        </a>
      </div>
    </div>

    <div class="p-main__charts profile-block">
      <div class="p-main__capture">Динамика дохода</div>
      <div class="p-main__graphs">
        <div class="p-main__graph p-main__graph_1">
          <canvas id="chart_day"></canvas>
        </div>
        <div class="p-main__graph p-main__graph_2 is_hidden">
          <canvas id="chart_week"></canvas>
        </div>
        <div class="p-main__graph p-main__graph_3 is_hidden">
          <canvas id="chart_month"></canvas>
        </div>
      </div>

      <div class="p-main__tabs tabs">
        <label>
          <input type="radio" name="доходность" class="visually-hidden">
          <span>за день</span>
        </label>
        <label>
          <input type="radio" name="доходность" class="visually-hidden">
          <span>за неделю</span>
        </label>
        <label>
          <input type="radio" name="доходность" class="visually-hidden">
          <span>за месяц</span>
        </label>
      </div>

    </div>

  </div>
</div>