<section class="steps">
  <div class="steps__cube cube rellax" data-rellax-speed="-2">
    <img src="./img/decor/cube.webp" aria-hidden="true" width="414" height="414" alt="">
  </div>
  <div class="container">
    <h2 class="steps__title">
      3 простых шага<br>
      к&nbsp;пассивному доходу
    </h2>

    <div class="steps__container">
      <div class="steps__item">
        <p class="steps__item-title">Выберите тариф</p>
        <p class="steps__item-desc desc">Определите сумму и мощность, подходящую вашему бюджету</p>
      </div>
      <div class="steps__item">
        <p class="steps__item-title">Подключитесь к&nbsp;коллективному майнингу</p>
        <p class="steps__item-desc desc">
          Ваша доля фиксируется в личном кабинете — всё прозрачно
          и под контролем
        </p>
      </div>
      <div class="steps__item">
        <p class="steps__item-title">Получайте доход</p>
        <p class="steps__item-desc desc">
          Начисления происходят автоматически
          — в BTC, USDT или рублях.  Выводите прибыль или реинвестируйте
          для роста
        </p>
      </div>
    </div>
  </div>
</section>
