<section class="support">
  <div class="arc support__arc rellax" data-rellax-speed="2" data-rellax-percentage="0.5">
    <img src="./img/decor/arc.webp" aria-hidden="true" alt="">
  </div>
  <div class="container">
    <h2 class="support__title">Техническая поддержка</h2>
    <p class="desc support__desc">
      Покупая мощности в нашем майнинг-пуле, вы получаете не просто доход, но и полный комфорт
    </p>

    <ul class="support__list list-reset">
      <li class="support__item">
        <div class="support__item-icon">
          <img src="./img/support/01.svg" alt="">
        </div>
        <p class="support__item-text">
          Персональный консьерж-сервис
          для наших клиентов
        </p>
      </li>
      <li class="support__item">
        <div class="support__item-icon">
          <img src="./img/support/02.svg" alt="">
        </div>
        <p class="support__item-text">
          Личный менеджер&nbsp;&mdash; всегда
          на&nbsp;связи в&nbsp;чате, по&nbsp;телефону
          или видеосвязи
        </p>
      </li>
      <li class="support__item">
        <div class="support__item-icon">
          <img src="./img/support/03.svg" alt="">
        </div>
        <p class="support__item-text">
          Помощь с&nbsp;обменом и&nbsp;выводом дохода в&nbsp;рубли или другие валюты
        </p>
      </li>
      <li class="support__item">
        <div class="support__item-icon">
          <img src="./img/support/04.svg" alt="">
        </div>
        <p class="support__item-text">
          Возможность доставки наличных
          по&nbsp;Москве
        </p>
      </li>
      <li class="support__item">
        <div class="support__item-icon">
          <img src="./img/support/05.svg" alt="">
        </div>
        <p class="support__item-text">
          Zoom-консультации и&nbsp;личные встречи
        </p>
      </li>
      <li class="support__item">
        <div class="support__item-icon">
          <img src="./img/support/06.svg" alt="">
        </div>
        <p class="support__item-text">
          Вы&nbsp;инвестируете&nbsp;&mdash; мы&nbsp;заботимся
          о&nbsp;процессе
        </p>
      </li>
    </ul>
  </div>
</section>
