<section class="why">
  <div class="container">
    <h2 class="why__title">Почему выбирают наш сервис</h2>

    <div class="why__container">
      <div class="why__item">
        <p class="why__item-capture">До 50% годовых без забот</p>
        <p class="why__item-desc desc">
          Всё обслуживание и электроэнергия на нас
        </p>
      </div>
      <div class="why__item">
        <p class="why__item-capture">Минимальные затраты</p>
        <p class="why__item-desc desc">
          Выгодные тарифы и оптовые условия
        </p>
      </div>
      <div class="why__item">
        <p class="why__item-capture">Рост актива с ростом биткоина </p>
        <p class="why__item-desc desc">
          Ваш доход увеличивается вместе с курсом
        </p>
      </div>
      <div class="why__item">
        <p class="why__item-capture">Защищённость и юридическая чистота</p>
        <p class="why__item-desc desc">
          Лицензии, договоры, юридическая поддержка
        </p>
      </div>
      <div class="why__item">
        <p class="why__item-capture">Низкий порог входа</p>
        <p class="why__item-desc desc">
          Можно протестировать с минимальной суммы
        </p>
      </div>
      <div class="why__item">
        <p class="why__item-capture">Поддержка менеджеров </p>
        <p class="why__item-desc desc">
          Быстрые ответы 24/7, возможность лично встретиться в Москве
        </p>
      </div>
    </div>
  </div>
</section>
