<section class="work horScroll">
  <div class="container">
    <h2 class="work__title">
      Как это работает
    </h2>
  </div>
  <div class="work__container horScroll-container">
    <div class="work__item">
      <div class="work__item-top">
        <h5 class="work__item-title">
          Размещение оборудования
        </h5>
        <p class="desc work__item-desc">
          Современные устройства работают
          в партнерских дата-центрах
          с дешёвой электроэнергией, охлаждением и круглосуточным обслуживанием
        </p>
      </div>
      <div class="work__item-img">
        <picture>
          <source srcset="./img/work/01.webp" type="image/webp">
          <img loading="lazy" src="./img/work/01.jpg" class="image" width="470" height="470" alt="">
        </picture>
      </div>
    </div>

    <div class="work__item">
      <div class="work__item-top">
        <h5 class="work__item-title">
          Коллективный майнинг
        </h5>
        <p class="desc work__item-desc">
          Вы не покупаете оборудование целиком, а берёте долю мощности. Так вход в майнинг становится доступным даже с небольшой суммы
        </p>
      </div>
      <div class="work__item-img">
        <picture>
          <source srcset="./img/work/02.webp" type="image/webp">
          <img loading="lazy" src="./img/work/02.jpg" class="image" width="470" height="470" alt="">
        </picture>
      </div>
    </div>

    <div class="work__item">
      <div class="work__item-top">
        <h5 class="work__item-title">
          Токенизация участия
        </h5>
        <p class="desc work__item-desc">
          Ваша доля закрепляется токеном. Это гарантия прозрачности
          и возможность при желании продать или обменять свою часть
        </p>
      </div>
      <div class="work__item-img">
        <picture>
          <source srcset="./img/work/03.webp" type="image/webp">
          <img loading="lazy" src="./img/work/03.jpg" class="image" width="470" height="470" alt="">
        </picture>
      </div>
    </div>

    <div class="work__item">
      <div class="work__item-top">
        <h5 class="work__item-title">
          Автоматическая добыча
        </h5>
        <p class="desc work__item-desc">
          Оборудование работает 24/7. Начисления происходят пропорционально вашей доле
без задержек
        </p>
      </div>
      <div class="work__item-img">
        <picture>
          <source srcset="./img/work/04.webp" type="image/webp">
          <img loading="lazy" src="./img/work/04.jpg" class="image" width="470" height="470" alt="">
        </picture>
      </div>
    </div>

    <div class="work__item">
      <div class="work__item-top">
        <h5 class="work__item-title">
          Вывод дохода
        </h5>
        <p class="desc work__item-desc">
          Прибыль выводится автоматически
          в биткоине, в стейблкойнах
          или рублях — быстро
          и без скрытых комиссий
        </p>
      </div>
      <div class="work__item-img">
        <picture>
          <source srcset="./img/work/05.webp" type="image/webp">
          <img loading="lazy" src="./img/work/05.jpg" class="image" width="470" height="470" alt="">
        </picture>
      </div>
    </div>
  </div>
</section>
